  <div class="form-group">
    <%= f.label :カード名, style: "display: block" %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
  <%= f.label :説明, style: "display: block" %>
  <%= f.text_area :description %>
  </div>

  <div class="form-group">
  <%= f.label :年会費, style: "display: block" %>
  <%= f.text_field :annual_fee %>
  </div>

  <div class="form-group">
  <%= f.label :還元率, style: "display: block" %>
  <%= f.text_field :Reduction_rate %>
  </div>

  <div class="form-group">
  <%= f.label :ポイント名, style: "display: block" %>
  <%= f.text_field :point %>
  </div>
