<% provide(:title, "カード新規登録") %>

<div class="row">
  <div class="col-xs-12">
    <h2 class="head-line title_h2 text-center">カード新規登録</h2>
    <%= form_for(@card, url: admin_cards_path, method: :post, class: "form-horizontal") do |f| %>
      <%= render "layouts/error_messages", resource: @card %>
      <div class="col-md-offset-1 col-md-4 img-position">
        <div class="img_field">
        </div>
  	      <%= f.attachment_field :image, class: "image" %>
      </div>
      <div class="col-md-6 card-explanation">
        <%= render "form_card", f: f %>
        <div class="actions col-xs-12 cards-show-edit">
          <%= f.submit "新規登録", class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    <% end %>

    <div class="col-xs-12">
      <%= link_to "＜ 戻る", admin_cards_path	, class: "back-page" %>
    </div>
  </div>
</div>
