<% provide(:title, "カード詳細") %>
<h2 class="head-line title_h2 text-center">カード詳細</h2>
	<div class="row">
		<div class="col-md-offset-1 col-md-4 card-show">
			<div id="img_field">
				<%= attachment_image_tag(@card, :image, size: "250x180", fallback: "no_image.jpg") %>
	    </div>
    </div>
      <div class="col-md-6 card-explanation">
	      <div class="field">
					<p>
						カード名     <%= @card.name %>
					</p>
	      </div><br>
	      <div class="field">
					<p>
						カード説明     <%= @card.description %>
					</p><br>
	      </div>
	      <div class="field">
					<p>
						年会費      <%= @card.annual_fee %>
					</p><br>
	      </div>
	      <div class="field">
					<p>
						還元率    <%= @card.Reduction_rate %>
					</p><br>
	      </div>
	      <div class="field">
          <p>
            ポイント名    <%= @card.point %>
          </p><br>
        </div>
				<div class="actions col-xs-12 cards-show-edit">
				<%= link_to "編集", edit_admin_card_path(@card), data: {"turbolinks" => false}, class: "btn btn-warning " %>
				</div>
      </div>
    </div>
		<div class="col-xs-12 backbtn-cardshow">
      <%= link_to "＜ 戻る", admin_cards_path	, class: "back-page" %>
    </div>
	</div>
