<%= form_with(model: card) do |form| %>
  <% if card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :カード名, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
  <%= form.label :説明, style: "display: block" %>
  <%= form.text_area :description %>
  </div>
  <div>
  <%= form.label :年会費, style: "display: block" %>
  <%= form.text_field :annual_fee %>
  </div>
  <div>
  <%= form.label :還元率, style: "display: block" %>
  <%= form.text_field :Reduction_rate %>
  </div>
  <div>
  <%= form.label :ポイント名, style: "display: block" %>
  <%= form.text_field :point %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

