<% provide(:title, "ログイン") %>
<div class="row">
  <div class="col-xs-12">
    <h3 class="head-line title_h2">会員の方はこちらからログイン</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-xs-10 customer-form">
        <%= render "layouts/error_messages", resource: resource %>
        <%= render "admins/sessions/session", f: f %>
      </div>

      <div class="col-xs-12 text-center">
        <div class="panel-group" id="testlogin">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#testlogin" href="#testloginCollapse">
              テストログインご希望の方はこちら
            </a>
          </h3>
          <div id="testloginCollapse" class="panel-collapse collapse">
            <div class="panel-body">
              メールアドレス:test@test.com<br>
              パスワード:testtest
            </div>
          </div>
        </div>
        <%= link_to "パスワードを忘れた方はこちら＞", new_password_path(resource_name), class: "btn-link" %>
      </div>

      <div class="actions col-xs-9 pull-right customer-login">
        <%= f.submit "ログイン", class: "btn btn-success btn-lg col-xs-8" %>
      </div>
    <% end %>

    <div class="col-xs-12">
      <h3 class="head-line title_h2">登録がお済みではない方</h3>
      <p class="new-link">
        <%= link_to "こちら", new_registration_path(resource_name), data: {"turbolinks" => false}, class: "btn-link" %>から新規登録を行ってください。
      </p>
    </div>
  </div>
</div>
