<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bootstrap3 チュートリアル</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

  <nav class="nav navbar-nav navbar-left title">
    <% if admin_signed_in? %>
    <%= link_to "ポイ活", admin_top_path %>
    <% else %>
    <%= link_to "ポイ活", root_path %>
    <% end %>
  </nav>

  <nav>
    <ul class="nav navbar-nav navbar-right">
      <% if customer_signed_in? %>
        <li class="header-search">
          <%= render "layouts/search" %>
        </li>
        <li class="header-name">
          <%= link_to full_name(current_customer) + "さん", customers_path(current_customer), class: "header_btn glyphicon glyphicon-user"%>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_customer_session_path, class: "header_btn glyphicon glyphicon-log-out" %>
        </li>
        
      <% elsif admin_signed_in? %>
        <li class="header-search">
          <%= render "layouts/search" %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, class: "header_btn glyphicon glyphicon-log-out" %>
        </li>

      <% else %>
        <li class="header-search">
          <%= render "layouts/search" %>
        </li>
        <li>
          <%= link_to "新規登録", new_customer_registration_path, data: {"turbolinks" => false}, class: "header_btn glyphicon glyphicon-edit" %>
        </li>
        <li>
          <%= link_to "ログイン", new_customer_session_path, class: "header_btn glyphicon glyphicon-log-in" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>